.menu-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    
  }
  
  .menu-top-list {
    float: left;
    margin-left: 200px;
  }
  
  .menu-top-anchor {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu-name {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 63, 88);
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;

  }
  
  .menu-name-list {
    float: left;
    margin: 30px;
    margin-left: 80px;
  }
  
  .menu-name-anchor {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 

.thirdMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(3, 51, 75);
    font-family: Verdana, Arial, Helvetica, sans-serif;

  }
  
  .thirdMenuBar-list {
    float: left;
  }
  
  .thirdMenuBar-anchor {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 170px;
    width: 60%;
  }

  .flex-container > div {
    line-height: normal;
  }

  .flex-container-row {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .flex-container-row > div {
    width: 300px;
    margin: 10px;
    color: rgb(3, 3, 29);
  }

  .bottom {
      background-color: rgb(19, 18, 18);
      color: white;
      padding-left: 150px;
  }